.payment-option {
  font-size: 1.2rem;
  transition: transform 0.3s ease, opacity 0.2s ease; 
  opacity: 0.9; 
}

.payment-option:hover {
  transform: scale(1.1);
  opacity: 1; 
}

.fade-in {
  animation: aparecer 0.5s ease forwards;
}


#confirm-button {
  transition: all 0.3s ease;
  background-color: #ff4b6e;
  color: white;
}

#confirm-button:hover {
  background-color: #ff4b6e; 
  transform: scale(1.05); 
  box-shadow: 0 4px 15px rgba(255, 107, 107, 0.4);
}


#confirm-button:active {
  box-shadow: none;
}
